<div class="home-container animated fadeInRight">
  <div class="image-section">
    <p class="product-title">CDT virtual</p>
    <p class="product-subtitle">mejora tus ingresos</p>
  </div>
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" color="primary">
    <mat-tab label="beneficios">
      <div class="tab-container">
        <p class="text-benefits">{{ options.beneficios.text }}</p>
        <div class="check-list-benefits">
          <div class="benefit underline" *ngFor="let item of options.beneficios.checks">
            <div class="check-icon-section">
              <div class="icon"></div>
            </div>
            <div class="text-section">
              <p>
                {{ item }}
              </p>
            </div>
          </div>
        </div>
        <div class="padding-button">
          <app-itau-button [title]="'contratar'" [routeUrl]="'step-one'"></app-itau-button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="características">
      <div class="tab-container">
        <div class="check-list-characteristic">
          <div class="characteristic" *ngFor="let item of options.caracteristicas.checks">
            <div class="check-icon-section">
              <div class="icon"></div>
            </div>
            <div class="text-section">
              <p>
                {{ item }}
              </p>
            </div>
          </div>
        </div>
        <div class="padding-button">
          <app-itau-button [title]="'contratar'" [routeUrl]="'step-one'"></app-itau-button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="requisitos">
      <div class="tab-container">
        <div class="check-list-characteristic">
          <div class="characteristic" *ngFor="let item of options.requisitos.checks">
            <div class="check-icon-section">
              <div class="icon"></div>
            </div>
            <div class="text-section">
              <p>
                {{ item }}
              </p>
            </div>
          </div>
        </div>
        <div class="padding-button">
          <app-itau-button [title]="'contratar'" [routeUrl]="'step-one'"></app-itau-button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
