<div class="home-container">
  <div class="image-section">
    <p class="product-title">CDT virtual</p>
    <p class="product-subtitle">mejora tus ingresos</p>
  </div>
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" color="primary">
    <mat-tab label="beneficios">
      <div class="tab-container">
        <h1>beneficios</h1>
        <app-itau-button [title]="'contratar'" [routeUrl]="'step-one'"></app-itau-button>
      </div>
    </mat-tab>
    <mat-tab label="características">
      <div class="tab-container">
        <h1>características</h1>
      </div>
    </mat-tab>
    <mat-tab label="requisitos">
      <div class="tab-container">
        <h1>requisitos</h1>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
