.product-card {
  margin: 24px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(48, 43, 38, 0.24);
  -moz-box-shadow: 0px 1px 1px 0px rgba(48, 43, 38, 0.24);
  box-shadow: 0px 1px 1px 0px rgba(48, 43, 38, 0.24);

  .image-section {
    height: 42.5vw;
    max-height: 255px;
    min-height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 17px 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;

    p {
      color: white;
    }

    p.product-title {
      font-size: 24px;
      font-weight: bold;
      font-family: ItauTextLight;
    }

    p.product-subtitle {
      font-size: 14px;
      font-family: ItauTextLight;
    }
  }

  .info-section {
    padding: 15.94px;
    background: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    p {
      font-family: ItauDisplayRg;
      line-height: 24px;
      font-size: 16px;
    }
  }
}
