<div class="component-container animated fadeInRight">
  <div class="section-title">
    <h1>confirmar apertura CDT</h1>
  </div>

  <table mat-table [dataSource]="dataSource" class="tableCDT">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="checkContent">
    <label><input type="checkbox" class="checkConfirmCDT" id="cbox1" value="first_checkbox">acepto los terminos y
      condiciones del producto</label>
    <span class="checkmark"></span>
  </div>

  <button mat-raised-button color="primary" (click)="goHome()" class="submit-button">contratar</button>

</div>