.component-container {
  padding: 24px;
  font-family: ItauTextLight, Arial, Helvetica, sans-serif;
  max-width: 600px;
  min-width: 350px;
  margin: 0 auto;

  .section-form {
    padding: 24px 0px;

    form {
      .form-control-input {
        .label-input {
          font-size: 14px;
          line-height: 16px;
          font-family: ItauTextRg;
          color: rgb(96, 87, 81);
        }

        .value-input {
          font-size: 24px;
          line-height: 28px;
          font-family: ItauTextLight;
          color: rgb(37, 34, 32);
          padding: 10px 0px 16px;
          font-weight: 300;
        }

        .example-radio-group {
          display: flex;
          flex-direction: column;
          margin: 10px 0;
        }

        .example-radio-button {
          margin: 15px 0px 15px -8px;
        }

        .mat-radio-label-content {
          padding-left: 30px !important;
        }
      }

      .reactive-form-section {
        .form-control-input {
          padding-left: 8px;

          .label-input {
            font-size: 14px;
            line-height: 21px;
            font-family: ItauTextRg;
            color: rgb(86, 80, 76);
            margin: 20px 0px 0px;
          }

          .value-input {
            font-size: 18px;
            line-height: 28px;
            font-family: ItauTextRg;
            color: rgb(35, 29, 25);
          }
        }

        .form-control-input.with-icon {
          display: flex;
          justify-content: space-between;

          .value-input.transparent {
            color: rgb(137, 131, 127);
          }

          .section-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon-next {
              width: 24px;
              height: 24px;
              background: url("./../../../assets/icons/arrow.svg");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
        }

        .form-control-input.with-icon:hover {
          background: #eee;
        }

        .underline {
          border-bottom: 1px solid rgb(239, 233, 229);
        }
      }

      button.submit-button {
        margin-top: 26px;
        font-weight: bold;
        line-height: 24px;
        text-align: center;
        width: 100%;
        background: rgb(236, 112, 0);
        border: 1px solid rgb(221, 97, 0);
        padding: 12px 16px;
        border-radius: 4px;
        cursor: pointer;
        color: white;
        font-size: 16px;
        transition: 200ms;
        font-family: ItauTextBold;
      }

      button.submit-button:hover {
        background: rgb(189, 94, 10);
      }

      button:disabled {
        background: rgb(214, 208, 204) !important;
        border: none;
        font-size: 16px;
        line-height: 20px;
        color: rgb(150, 146, 144);
      }
    }
  }
}

.submit-button {
  margin-top: 26px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  width: 100%;
  background: rgb(236, 112, 0);
  border: 1px solid rgb(221, 97, 0);
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: 200ms;
  font-family: ItauTextBold;
}

.checkConfirmCDT {
  font-size: 16px;
  transition: 200ms;
  font-family: ItauTextBold;
}

.checkContent {
  margin-top: 20px;
  margin-left: 10px;
}

.tableCDT {
  margin: 0px;
  width: 100%;
}

td.mat-cell:first-of-type {
  padding-left: 0px;
}

td.mat-cell:last-of-type {
  text-align: right;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
  }

  // Box hover
  &:hover + label:before {
    background: #f35429;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #f35429;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

// Demo-only styles
// --------------

html {
  background: lightgray;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 20px 0;
}

.centered {
  width: 300px;
  margin: auto;
}

.title {
  text-align: center;
  color: rgb(69, 113, 236);
}
