.component-container {
  font-family: ItauTextLight, Arial, Helvetica, sans-serif;
  max-width: 600px;
  min-width: 350px;
  margin: 0 auto;
  background: rgb(250, 248, 247);

  .section-title {
    padding: 24px;

    h1 {
      font-family: ItauTextBold;
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      color: rgb(35, 29, 25);
    }
  }

  .section-account-cards {
    .account {
      .card {
        background: white;
        padding: 20px 16px;
        display: flex;
        flex-direction: column;

        .salary-section {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .text-salary,
          .value-salary {
            p {
              font-size: 18px;
              line-height: 24px;
              text-align: left;
              font-family: ItauTextRg;
              color: rgb(96, 87, 81);
              font-weight: bold;
            }
          }
        }

        .type-section {
          .text-type {
            p {
              font-size: 14px;
              line-height: 24px;
              text-align: left;
              font-family: ItauTextRg;
              color: rgb(86, 80, 76);
              font-weight: bold;
            }
          }
        }

        .number-section {
          .text-number {
            p {
              font-size: 14px;
              line-height: 24px;
              text-align: left;
              font-family: ItauTextRg;
              color: rgb(96, 87, 81);
            }
          }
        }
      }

      .card.disabled {
        p {
          color: rgb(183, 183, 183) !important;
        }
      }
    }
    .underline {
      border-bottom: 1px solid rgb(239, 233, 229);
    }
  }
}
