.example-card {
  max-width: 1200px;
}

.example-header-image {
  background-image: url("./../../../assets/logo.jpg");
  background-size: cover;
}

form {
  padding: 15px 15px;

  mat-form-field {
    width: 100%;
    margin-top: 20px;
  }

  .mensaje-input {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.54);
  }

  .check-box {
    margin-top: 20px;
  }
}
